
/*#banner {
  background-url:
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 400px;
  z-index: -1;
}*/

h1 {
  font-family: 'Dancing Script', cursive;
  color: saddlebrown;
  font-size: 10;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: black;
}

h3 {
  font-size: 20;
  color: black;
  font-family: 'Quicksand', sans-serif;
}
p {
  font-family: 'Quicksand', sans-serif;
}
body {margin-left:40px;
  background-image: url(foodpic.png);
  background-color: pink;
  /*-moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
}
